<div class="search__user">
  <input type="text" [(ngModel)]="username" placeholder="Введите логин GitHub пользователя" (keydown)="searchUserOnEnter($event)">
  <button (click)="searchUser()">Поиск</button>
</div>

<div class="container" *ngIf="!userNotFound">
  <div *ngIf="user" class="user__card">
    <h2>Информация о пользователе:</h2>
    <img [src]="user.avatar_url" alt="Фото пользователя" width="100">
    <p>Логин: {{ user.login }}</p>
    <p>Имя: {{ user.name }}</p>
    <p>Биография: {{ user.bio }}</p>
    <p>Компания: {{ user.company }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Ссылка на Гит: <a [href]="user.html_url">{{ user.html_url }}</a></p>
    <p>Дата регистрации: {{ user.created_at | dateFormat }}</p>
  </div>

  <div *ngIf="repositories.length > 0">
    <h2>Репозитории пользователя:</h2>
    <ul>
      <li class="repo__card" *ngFor="let repo of repositories" (click)="showRepositoryDetails(repo)">
        <a>{{ repo.name }}</a>
      </li>
    </ul>
  </div>
</div>

  <div class="details" *ngIf="selectedRepository">
    <h2>Детальная информация о репозитории:</h2>
    <p>Название: {{ selectedRepository.name }}</p>
    <p>Описание: {{ selectedRepository.description }}</p>
    <p>Язык программирования: {{ selectedRepository.language }}</p>
    <p>Размер репозитория: {{ selectedRepository.size }}</p>
    <p>Форки: {{ selectedRepository.forks_count }}</p>
    <p>Ссылка на репозиторий: <a [href]="selectedRepository.html_url">{{ selectedRepository.html_url }}</a></p>
    <p>Ссылка для клонирования: <a [href]="selectedRepository.clone_url">{{ selectedRepository.clone_url }}</a></p>
    <p>Дата создания: {{ selectedRepository.created_at | dateFormat }}</p>
  </div>

<div *ngIf="userNotFound">
  <p>Пользователь не найден.</p>
</div>
