ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.search__user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search__user input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.search__user button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.search__user button:hover {
    background-color: #525252;
}

.user__card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user__card a {
  text-decoration: none;
  color: #007bff;
}
  
.user__card a:hover {
  text-decoration: underline;
}

.user__card img {
  max-width: 100px;
  border-radius: 50%;
}

.repo__card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.repo__card:hover {
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.details {
  flex: 1;
  margin-left: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.details a {
  text-decoration: none;
  color: #007bff;
}
  
.details a:hover {
  text-decoration: underline;
}